.new {
    margin-bottom: 100px;
    position: relative;
}
.new .swiper {
    width: 100%;
    padding-bottom: 50px;
  }
  
.new .swiper-slide {
    background-position: center;
    background-size: cover;
}
  
.new .swiper-slide img {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.new-product {
    width: 300px;
    height: 300px;
    padding: 20px;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.new-product > img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.new-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.new-add-to-cart {
    position: absolute;
    cursor: pointer;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0px;
    opacity: 0;
    visibility: hidden;
    background-color: brown;
    border: none;
    color: #fff;
    font-size: 20px;
    border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    -ms-border-radius: 0 0 15px 15px;
    -o-border-radius: 0 0 15px 15px;
    transition: height 0.5s , opacity 0.5s , visibility 0.5s;
    -webkit-transition: height 0.5s , opacity 0.5s , visibility 0.5s;
    -moz-transition: height 0.5s , opacity 0.5s , visibility 0.5s;
    -ms-transition: height 0.5s , opacity 0.5s , visibility 0.5s;
    -o-transition: height 0.5s , opacity 0.5s , visibility 0.5s;
}
.new-product:hover .new-add-to-cart {
    height: 60px;
    opacity: 1;
    visibility: visible;
}
.new-add-to-cart i {
    font-size: 25px;
    margin-right: 7px;
}
.new-view {
    position: absolute;
    cursor: pointer;
    right: 0px;
    top: 0px;
    width: 0px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    border: none;
    display: block;
    font-size: 25px;
    background-color: brown;
    color: #f1eeee;
    opacity: 0;
    visibility: hidden;
    border-radius: 0 15px 0 15px;
    -webkit-border-radius: 0 15px 0 15px;
    -moz-border-radius: 0 15px 0 15px;
    -ms-border-radius: 0 15px 0 15px;
    -o-border-radius: 0 15px 0 15px;
    transition: width 0.5s , opacity 0.5s ,visibility 0.5 ;
    -webkit-transition: width 0.5s , opacity 0.5s ,visibility 0.5 ;
    -moz-transition: width 0.5s , opacity 0.5s ,visibility 0.5 ;
    -ms-transition: width 0.5s , opacity 0.5s ,visibility 0.5 ;
    -o-transition: width 0.5s , opacity 0.5s ,visibility 0.5 ;
}
.new-product:hover .new-view {
    width: 60px;
    opacity: 1;
    visibility: visible;
}
@media only screen and (max-width:380px) {
    .new-product {
        width: 220px;
        height: 250px;
    }
    .new-add-to-cart {
        font-size: 18px;
    }
    .new-view {
        font-size: 20px;
    }
    .new-product:hover .new-view {
        height: 60px;
        width: 50px;
        line-height: 60px;
    }
}