.app-container {
    transform-origin: top left;
    transition: transform 0.5s linear;
    position: relative;
    width: 100%;
    min-height: 100vh;
    box-shadow: 0px 0px 15px 0px #e97982;
    background-color: rgba(0,0,0,0.2);
    -webkit-transition: transform 0.5s linear;
    -moz-transition: transform 0.5s linear;
    -ms-transition: transform 0.5s linear;
    -o-transition: transform 0.5s linear;
}
.app-container.show-nav {
    transform: rotate(-22deg);
    -webkit-transform: rotate(-22deg);
    -moz-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    -o-transform: rotate(-22deg);
}
.spin {
    text-align: center;
    margin: 250px auto;
}