.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100vw;
    height: vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.modal-content {
    width: 80%;
    height: auto;
    padding: 70px 0;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.bi-x-circle-fill {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 50px;
    color: crimson;
    cursor: pointer;
}
.modal-content-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-content-img {
    width: 34%;
    height: 340px;
    padding: 20px;
    background-color: #c3d2eb;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.modal-content-img:hover img{
    animation: scale-up-center 1s linear 0s 1 normal none;
    -webkit-animation: scale-up-center 1s linear 0s 1 normal none;
}
@keyframes scale-up-center {
			
    0% {
        transform:scale(.2);
    }
    100% {
        transform:scale(1);
    }
}
.modal-content-img img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.modal-content-info {
    width: 60%;
}
.modal-content-info-title {
    font-size: 24px;
    margin-bottom: 15px;
    color: #000;
    cursor: pointer;
}
.modal-content-info-title:hover {
    animation: text-shadow-multicolor 1.5s ease-in-out 0s infinite normal none;
    -webkit-animation: text-shadow-multicolor 1.5s ease-in-out 0s infinite normal none;
}
@keyframes text-shadow-multicolor {
			
    0% {
        text-shadow:0 0px 15px rgb(207, 4, 207);
    }
    33% {
        text-shadow:0 0px 15px rgb(4, 204, 204);
    }
    66% {
        text-shadow:0 0px 10px rgb(10, 206, 10);
    }
    100% {
        text-shadow:0 0px 10px rgb(202, 202, 2);
    }
}
.modal-content-info .rating i {
    font-size: 25px;
    margin-bottom: 5px;
}
.modal-content-info .rating span {
    color: #000;
    font-size: 20px;
}
.modal-content-info .rating span b {
    font-size: 20px;
    color: crimson;
}
.modal-content-info-item {
    font-size: 20px;
    margin-bottom: 10px;
    color: #000;
    transition: color 0.5;
    -webkit-transition: color 0.5;
    -moz-transition: color 0.5;
    -ms-transition: color 0.5;
    -o-transition: color 0.5;
}
.modal-content-info-item b {
    color: crimson;
}
.modal-content-info .rating span:hover ,
.modal-content-info .rating span:hover b,
.modal-content-info-item:hover ,
.modal-content-info-item:hover b {
    color: #0656d6;
}
.modal-add-to-cart {
    margin: 15px 0px;
}
.modal-add-to-cart-input {
    font-size: 25px;
    font-weight: 600;
    padding: 1px 5px;
    margin: 0px 15px 20px 0px;
}
.modal-add-to-cart-btn {
    border: 1px solid green;
    padding: 5px 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: transparent;
    color: green;
    font-size: 21px;
    font-weight: 600;
    position: relative;
    z-index: 1;
    text-transform: capitalize;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
}
.modal-add-to-cart-btn:hover,
.modal-add-to-cart-btn:hover i {
    color: #fff;
}
.modal-add-to-cart-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 128, 0,0.8);
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -ms-transition: width 0.5s;
    -o-transition: width 0.5s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.modal-add-to-cart-btn:hover::after {
    width: 100%;
}
.modal-add-to-cart-btn i {
    margin-right: 5px;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
}
.modal-content-info-link {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 22px;
    background-color: #0866FF;
    border: 3px solid #0866FF;
    padding: 10px 20px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    width: max-content;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    transition: background-color 0.5s , color 0.5s;
    -webkit-transition: background-color 0.5s , color 0.5s;
    -moz-transition: background-color 0.5s , color 0.5s;
    -ms-transition: background-color 0.5s , color 0.5s;
    -o-transition: background-color 0.5s , color 0.5s;
}
.modal-content-info-link:hover {
    background-color: #fff;
    color: #0866FF;
}
@media only screen and (max-width:850px) {
    .modal-content-img {
        display: none;
    }
    .modal-content-info {
        width: 100%;
    }
    .modal-add-to-cart-input {
        margin-bottom: 10px;
    }
}
@media only screen and (max-width:520px) {
    .modal-content-info-title {
        font-size: 20px;
    }
    .modal-content-info-item,
    .modal-content-info .rating span,
    .modal-content-info .rating span b {
        font-size: 18px;
    }
    .modal-content-info .rating i {
        font-size: 22px;
    }
    .modal-content {
        padding: 50px 0px;
    }
    .modal-add-to-cart-input {
        font-size: 22px;
    }
    .modal-content-info-link {
        font-size: 18px;
    }
}
@media only screen and (max-width:320px) {
    .bi-x-circle-fill {
        top: 5px;
        right: 5px;
        font-size: 35px;
    }
    .modal-content-info-title {
        font-size: 18px;
    }
    .modal-content-info-item,
    .modal-content-info .rating span,
    .modal-content-info .rating span b {
        font-size: 16px;
    }
    .modal-content-info .rating i {
        font-size: 20px;
    }
    .modal-add-to-cart-input {
        font-size: 20px;
        padding: 3px 5px;
    }
    .modal-add-to-cart-btn {
        font-size: 16px;
    }
    .modal-content-info-link {
        font-size: 14px;
        padding: 10px 13px;
    }
}